:root{
  --bgcolor: #293241;
  --bgcolorD: rgb(31, 39, 54);
  --btncolor: #EE6C4D;
  --fontcolor: #E0FBFC;
  --complementcolor1: #98C1D9;
  --complementcolor2: #3D5A80;
  --easycolor:rgb(41, 223, 87);
  --mediumcolor:rgb(223, 196, 41);
  --hardcolor:rgb(223, 53, 41);
  --truecolor:rgb(97, 226, 118);
  --falsecolor:rgb(214, 64, 54);
}
.App {
  font-family: 'Fredoka', sans-serif;
  display: flex;
  width: 75vw;
  height: 100vh;
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bgcolorD);
  padding: 0 10rem;
  
}
.App > h2{
  color:var(--fontcolor);
  letter-spacing: 2px;
  font-weight: 400;
}
.title{
  position: absolute;
  top: 0;
  margin: 5vw 0;
  font-size: 5rem;
}
.btn__play{
  padding: 1rem 0;
  width: 20rem;
  border: none;
  outline: none;
  background-color: var(--btncolor);
  color: var(--fontcolor);
  border-radius: 100px;
  font-size: 2rem;
  letter-spacing: 1px;
  transition: letter-spacing .5s;
  cursor: pointer;
}
.btn__play:hover{
  background-color: rgb(238, 128, 77);
  letter-spacing: 5px;
}

.game__container{
  color: var(--fontcolor);
  background-color: var(--bgcolor);
  min-height: 50%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  outline: 1px solid rgb(71, 80, 95);
  padding: 1rem;
  border-radius: .5rem;
}

.buttons__container{
  display: flex;
  gap: 1rem;
  width: 100%;
  
}
.game__btn{
  font-family: 'Fredoka', sans-serif;
  border: none;
  outline: none;
  color: var(--fontcolor);
  font-size: 1.9rem;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 10rem;
}

.btn__false{
  outline: 1px solid rgb(218, 85, 75);
  background-color: rgba(214, 64, 54,.3);
}
.btn__true{
  outline: 1px solid rgb(133, 233, 150);
  background-color: rgba(97, 226, 118,.3);

}
.btn__false:hover{
  background-color: rgba(214, 64, 54,.5);
}
.btn__true:hover{
  background-color: rgba(97, 226, 118,.5);
}

.game__content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}
.game__content--info{
  display: flex;
  justify-content: space-between;
}
.question__info--container{
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.question__container{ 
  display: grid;
  flex-grow: 1;
  place-items: center;
  position: relative;
}
.question{
  padding: 1rem;
  background-color: var(--fontcolor);
  color: var(--bgcolorD);
  border: 3px solid var(--bgcolorD);
  outline: 1px solid var(--fontcolor); 
  border-radius: .5rem;
  
  
}
.question__index{
  position: absolute;
  top: 0;
  font-weight: 1;
}
.category__container{
  background-color: rgb(41, 156, 223);
  display: grid;
  place-items: center;
  padding: .4rem .8rem;
  width: max-content;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 100px;
}
.difficulty__container{
  display: grid;
  place-items: center;
  padding: .4rem .8rem;
  width: max-content;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 100px;
}
.difficulty__easy{
  background-color: var(--easycolor);
}
.difficulty__medium{
  background-color: var(--mediumcolor);
}
.difficulty__hard{
  background-color: var(--hardcolor);

}

.score{
  font-size: 1rem;
}

.modal__correct{
  position: absolute;
  background-color: var(--truecolor);
  outline: 5px solid var(--truecolor);
  border: 2px solid var(--fontcolor);
  color: var(--fontcolor);
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  top: 0;
  margin: 2rem;
  padding: 1rem;
  overflow: hidden;
  box-shadow: 0 0 10px 0 black;
  animation: modalAppear .5s cubic-bezier(.04,.26,.38,1.54) 0s 1 normal both;
  border-radius: .5rem;
  overflow: hidden;
}
.modal__text{
  font-size: 2rem;
}
.modal__icon{
  font-size: 3rem;
}
  
@keyframes modalAppear {
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.modal__correct[animation='1']{
  animation: modalDisappear .2s ease 1s 1 normal both;
}
@keyframes modalDisappear {
  0%{
    transform: scale(1);
    opacity: 1;
  }
  100%{
    transform: scale(0.5);
    opacity: 0;
  }
}
.modal__incorrect--container{
  width: 100%;
  height: 100%;
  position: absolute;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__incorrect{
  display: flex;
  flex-direction: column;
  gap:1rem;
  background-color: var(--fontcolor);
  align-items: center;
  box-shadow: 0 0 10px 0 black;
  border-radius: .5rem;
  overflow: hidden;
  animation: modalAppear .5s cubic-bezier(.04,.26,.38,1.54) 0s 1 normal both;
}

.modal__incorrect > div{
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--fontcolor);
  background-color: var(--falsecolor);
  padding: 1rem;
  position: relative;
}
.modal__incorrect > div::after{
  content: '';
  width: 100%;
  height: 20%;
  z-index: -1;
  position: absolute;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.3),transparent);
  left: 0;
  top: 100%;
}
.btn__tryagain,.btn__mainmenu{
  border: none;
  outline: none;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  font-family: 'Fredoka', sans-serif;
  margin: 0 1rem;
  border-radius: 100px;
  cursor: pointer;
  font-size: 1rem;
}

.btn__tryagain{
  padding: .8rem 2rem;

  background-color: var(--truecolor);
}
.btn__tryagain:hover{
  background-color: rgb(123, 223, 140);
}

.btn__mainmenu{
  width: max-content;
  background-color: transparent;
  border: 2px solid var(--btncolor);
  margin-bottom: 1rem;
  padding: .2rem 1rem;
}

.btn__mainmenu:hover{
  background-color: rgb(238, 108, 77);
  color: var(--fontcolor);
}

.spinner{
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  border-top: 8px solid rgb(71, 80, 95);
  border-left: 8px solid rgb(71, 80, 95);
  margin: auto;
  border-radius: 100% 0 0 0;
  animation: spin 1s linear 0s infinite normal both;
}

@keyframes spin{
  0%{
    transform: rotate(0deg) translate(-50%,-50%);
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    transform: rotate(360deg) translate(-50%,-50%);
    opacity: 1;
  }
}